.heading{
    display: flex;
    justify-content: space-between;
    padding: 4px;
    align-items: center;
}
.logo{
    width: 150px;
}
.nav-items > ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;
    margin-right: 20px;
}
.nav-items > ul > li{
    font-size: 24px;
    cursor: pointer;
    font-weight: 600;
}
.card-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.card-details{
    display: flex;
    justify-content: space-evenly;
}
.food-img{
    width: 200px;
    height: 150px;
    border-radius: 10px;
}
.shimmer-wrapper{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.shimmer-card{
    background-color: #f0f0f0;
    width: 250px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}